.popup-wrapper
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(#000, .2)

.delete-popup
  border-radius 3px
  margin 50px auto 0
  padding 10px
  background #fff
  width 70%

  &__text
    margin-bottom 15px
  &__btn-group
    text-align right

  &__btn
    display inline-block
    border none
    border-radius 3px
    padding 8px
    text-align center

    &_delete
      background-color rgba(#F25F5C, .5)
    &_cancel
      background-color rgba(#247BA0, .5)