<div class="popup-wrapper">
    <div class="delete-popup">
        <div class="delete-popup__text">Удалить блок?</div>
        <div class="delete-popup__btn-group">
            <button class="delete-popup__btn delete-popup__btn_delete" id="delete">Удалить</button>
            <button class="delete-popup__btn delete-popup__btn_cancel" id="cancel">Отмена</button>
        </div>
    </div>
</div>