<div class="panel">
        <div class="panel__item"><%= blockCount %></div>
        <div class="panel__item panel__item_selected"><%= selectedCount %></div>
        <div class="panel__item panel__item_red"><%= redCount %></div>
        <div class="panel__item panel__item_green"><%= greenCount %></div>
        <div id="add-block" class="panel__item panel__item_add">+</div>
</div>